<div class="header">
    <h1>This is our burger app</h1>
</div>
<div class="container">

    <div class="burgerDisplay">
       <div>
           <h1>Eaten</h1>
             {{#each burgers}}
                {{#if devoured}}
                    <div class="burgerContainer">
                        <div class="burgerName">
                               {{burger_name}}
                        </div>
                     
                    </div>

                {{/if}}
             {{/each}}

       </div>
       <div>
           <h1>Available</h1>
           {{#each burgers}}
                {{#unless devoured}}
                    <div class="burgerContainer">
                         <div class="burgerName">{{burger_name}}</div> <div><button data-value={{ID}} class="eat">EAT</button></div>
                    </div>

                {{/unless}}
             {{/each}}

       </div>
      

    </div>
    <div class="burgerInputContainer">
      <input placeholder="Enter Burger name" id="burgerInput" type="text">
      <button id="submit"> Submit</button>

    </div>

</div>

