.header {
    height: 230px;
    background-color:magenta;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

}

.burgerName{
    height: 50px;
    width: 100px;
    background-color: aquamarine;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}